@page "/inicio"

<PageTitle>Inicio</PageTitle>


<div class="container text-center my-5">


    <h1 class="display-3 text-primary">Bienvenido al Registro de Multas</h1>
    

    <p class="lead text-muted">
        Este sistema está diseñado para facilitar la gestión y control de las multas en la oficina central. Permite a los administradores y agentes registrar, consultar y gestionar los detalles de las multas de forma rápida y eficiente.
    </p>
    
    <div class="row justify-content-center my-4">
        <div class="col-md-3 mb-4">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title">Gestión de Usuarios</h5>
                    <p class="card-text">Cree, edite o elimine usuarios y mantenga un control detallado de las actividades de cada uno.</p>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-4">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title">Registro de Multas</h5>
                    <p class="card-text">Registre las multas fácilmente y mantenga un historial detallado de todas las infracciones.</p>
                </div>
            </div>
        </div>

        <div class="col-md-3 mb-4">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title">Consultas Rápidas</h5>
                    <p class="card-text">Acceda rápidamente a las consultas y reporte de multas mediante una interfaz sencilla y rápida.</p>
                </div>
            </div>
        </div>
    </div>


</div>

