@page "/acerca-de"

<h3>Acerca de</h3>


<div>
    <img src="image/image.png" alt="Foto de perfil" class="profile-pic" />
    <p>Nombre: Edison Aguero Diaz</p>
    <p>Email: edison16232503@gmail.com</p>
    <p>Teléfono: 829-405-1625</p>
</div>

<div class="contact">
    <a href="https://wa.me/8294051625?text=Hola te contacto para un trabajo bueno, Te pagaremos mucho dinero" target="_blank">
        Contáctame por WhatsApp
    </a>
    <a href="https://t.me/Edison_aguero?text=Hola te contacto para un trabajo bueno, Te pagaremos mucho dinero" target="_blank">
        Contáctame por Telegram
    </a>
</div>

<style>
    .profile-pic {
        width: 150px;
        height: 150px;
        border-radius: 50%;
    }

    .contact a {
        display: block;
        margin-top: 10px;
        color: #007bff;
        text-decoration: none;
    }

    .contact a:hover {
        text-decoration: underline;
    }
</style>
