@page "/administrativo"
@layout AdminLayout
@rendermode InteractiveServer
@inject NavigationManager Navigation
@inject MultasDbContext DbContext

<PageTitle>Oficina Central</PageTitle>

<div class="content-header">
    <h1>Bienvenido al modulo de administracion</h1>
    <p>Selecciona una opción del menú para comenzar.</p>
</div>