@page "/agente"
@rendermode InteractiveServer
@inject NavigationManager Navigation
@inject MultasDbContext DbContext
@layout AgenteLayout

<PageTitle>Agente</PageTitle>

<div class="content-header">
    <h1>Bienvenido, Agente</h1>
    <p>Selecciona una opción del menú lateral para comenzar.</p>
</div>

