@page "/oficina-central"
@layout CentralLayout
@rendermode InteractiveServer
@inject NavigationManager Navigation
@inject MultasDbContext DbContext

<PageTitle>Oficina Central</PageTitle>

<div class="content-header">
    <h1>Bienvenido a la Central</h1>
    <p>Selecciona una opción del menú para comenzar.</p>
</div>