@page "/acerca de"
@rendermode InteractiveServer

<h3>Acerca de</h3>

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="image/image.png" alt="Foto del estudiante" />
    <div class="card-body">
        <h5 class="card-title">Nombre Completo: <br>Edison Aguero Diaz</h5>
        <p class="card-text">
            <strong>Correo electrónico:</strong> <a href="mailto:edison162325032@gmail.com">edison162325032@gmail.com</a>
        </p>
        <p class="card-text">
            <strong>Descripción:</strong> Me gustaria dedicarme al desarrollo de software, base de datos y crear mis propias aplicaciones, paginas web y si es posible algun videojuego.
        </p>
        <p class="card-text">
            <strong>Contáctame:</strong>
        </p>
        <a href="https://wa.me/8294051625" class="btn btn-success" target="_blank" style="display: inline-block; margin-bottom: 10px;">Chatear en WhatsApp</a>
        <a href="https://t.me/Edison_aguero" class="btn btn-primary" target="_blank" style="display: inline-block;">Chatear en Telegram</a>
    </div>
</div>

@code {
    // En este ejemplo, los datos están fijos, pero podrías modificarlos para que provengan de una fuente dinámica
}
